body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
   --Dark-Magenta: hsl(300, 43%, 22%);
    --Pink: hsl(333, 80%, 67%);
   --Grayish-Magenta: hsl(303, 10%, 53%);
   --Light-Grayish-Magenta: hsl(300, 24%, 96%);
   --White: hsl(0, 0%, 100%);
}
@font-face {
    font-family: League-spartan;  
    src: url(https://fonts.google.com/specimen/League+Spartan);
    // Weights: 400, 500, 700
    // font-family: 'League Spartan', sans-serif;
}

body{
    width:86%;
    margin:0 auto;
    font-family: 'League Spartan', sans-serif;
    font-weight:bold;
    .attribution{
        padding:2em;
        width:80%;
        margin:0 auto;
        text-align:center;
        align-self:center;
    a{
        text-decoration:none;
    }
    }
}
.products{
   h1{
       text-align:center;
       font-size:2rem;
       padding:1em 1em 0em;
       font-family: 'League Spartan', sans-serif;
       color:var(--Dark-Magenta);
       line-height:1.9rem;
   } 
   p{
       font-family: 'League Spartan', sans-serif;
       text-align:center;
       font-weight:bold;
       color:var(--Grayish-Magenta);
   }
}

.review-stars{
    margin-top:2em;
    background:var(--Light-Grayish-Magenta);
    margin-bottom:1em;
    border-radius:7px;
    padding:.8em 2em;
    text-align:center;
    font-size:.9rem;
    span:before{
            content:"\a";
            white-space:pre;
    }
    span{
        color:var(--Dark-Magenta);
    }
 
}
.user-review{
    margin-top:2em;
}
.buyer-rev{
    border:1px solid var(--Dark-Magenta);
    background:var(--Dark-Magenta);
    padding: 2em;
    color:var(--White);
    font-size:.9rem;
    border-radius:8px;
    margin-bottom:1em;
    line-height:1.4rem;
    img{
        width:12%;
        border-radius:100px;
        margin-right:1em;
    }
    .wrapper{
        display:flex;
        align-items:center;
    }
    .purple{
        color:var(--Pink);
        opacity:.7;
        text-transform:capitalize;
    }
    p{
        font-weight:400;
    }
}
@media (min-width:600px){
    .products{
        h1{
            font-size:4rem;
            line-height:4rem;
            padding:1rem 0rem 0rem;
        }
        p{
            font-size:1.5rem;
        }
        .review-stars{
            padding:2rem 0rem;
        }
        span{
            font-size:1.2rem;
        }
    }
    .buyer-rev{
        padding: 2em;
        font-size:1rem;
        margin-bottom:1em;
        line-height:1.5rem;
        img{
            width:12%;
            border-radius:100px;
            margin-right:1em;
        }
        p{
            margin-top:1em;
        }
        
    }
}

@media (min-width:950px){
   .products{
       display:flex;
       flex-direction:row;
       justify-content:space-between;
      .about-products{
          width:45%;
          h1{
            font-size:3rem;
            font-weight:900;
            line-height:3rem;
            padding:1rem 0rem 0rem;
            text-align:left;
        }
        p{
            text-align:left;
            font-size:1.1rem;
            line-height:1.5rem;
            font-weight:300;
        }
      } 
      .star-rating{
          width:50%;
          margin-top:5em;
          display:grid;
          grid-template-rows: repeat(3, 65px);
          grid-template-columns:repeat(10,1fr);
            .review-stars{
                padding-top:0;
                span:before{
                    content:"";
                    white-space:none;
            }
                span{
                    font-size:.9rem;
                    margin-left:1em;
                    align-self:center;
                }
                img{
                    margin-top:15px;
                    width:4%;
                    align-self:center;
                }
            }
            .a{
                margin-top:.5em;
                grid-column:1/9;
            }
            .b{
                margin-top:0em;
                grid-column:2/10;
            }
            .c{
                margin-top:0em;
                grid-column:3/11;
            }
        }
         
    }
   .user-review{
       display:flex;
       justify-content:space-between;
       .buyer-rev{
           width:24%;
           margin-top:3em;
       }
       .highest{
           margin-top:1em;
           margin-bottom:60px;
       }
       .higher{
        margin-top:2em;
        margin-bottom:30px;
    }
       .high{
        margin-bottom:10px;
    }
}

@media (min-width:1200px){
    body{
        max-width:1100px;
        margin-top:3em;
    }
    .user-review{
        display:flex;
        justify-content:space-between;
        .buyer-rev{
            width:25%;
            margin-top:3em;
        }
        .highest{
            margin-top:1em;
            margin-bottom:60px;
        }
        .higher{
         margin-top:2em;
         margin-bottom:30px;
     }
        .high{
         margin-bottom:10px;
     }
 }
}

}